
.restaurant-info {
  margin-top: 10px;
}

.restaurant-info p {
  margin-bottom: 0;
}

.container {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card a {
  text-decoration: none;
  font-size: 22px;
}

.form-inputs {
  width: 50%;
}

.review-bar {
  width: 50%;
}

.review-bar a {
  text-decoration: none;
  font-size: 18px;
  background-color: rgba(128, 128, 128, 0.725);
  border: none;
}

.div-reviews {
  border: 1px solid grey;
  border-radius: 7px;
  height: 200px;
  width: 60%;
}
